.home-container {
  background-color: rgb(237,238,239);
  height: 635px;
}

.home-content {
  margin-left: 40px;
  margin-right: 30px;
}

.table-container {
  background-color: white;
  padding: 1%;
  border-radius: 1%;
  box-shadow: 1px 1px rgb(180, 177, 177);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.button-register {
  margin-left: 1%;
  background-color: #E2BB74;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px gray;
}

.button-register:hover {
  box-shadow: 2px 2px gray;
}

.table-header-container {
  background-color: rgb(237,238,239);
  height: 35px;
  font-size: 15px;
}

.table-row-container {
  font-size: 12px;
}

.table-row-container:hover {
  background-color: #EDEEEF;
}

.table-header-content {
  width: 170px;
}

.table-row-content {
  width: 170px;
}

.table-header-address {
  width: 410px;
}

.table-row-address {
  width: 410px;
}