.login-page {
  display: flex;
  background-color: #dda439;
  height: 635px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 35%;
  margin-top: 13%;
  text-align: center;
  padding: 5%;
  height: 150px;
  background-color: rgb(208, 181, 130);
  border: 1px solid rgb(79, 72, 72);
  box-shadow: 2px 2px gray;
  font-size: 15px;
}

.login-container:hover {
  box-shadow: 5px 5px gray;
}